li{
    list-style-image: url(checkbox-checked-regular-24.png);
}
#ejcheck{
    list-style-image: url(checkbox-regular-24.png);
}

table{
    border-spacing: 0;
    width: 30%;
}
th,td {
    border: 1.5px solid #000000;
    padding: 5px;
}
thead{
    background-color: gray;
    color: #ffffff;
}
tbody td:nth-child(3){
    text-align: center;
}
tbody td:nth-child(2){
    padding-left: 40px;
}
tbody tr:nth-child(odd){
    background-color: lightgray;
    color: #ffffff;
}
tbody tr:hover{
    background-color: lightyellow;
}
tbody tr{
    transition: background-color 1s;
}
